# Python cache
__pycache__
*.pyc
dist
*.egg-info

# intermediate files
*.bc
*.ll
*.o
*.so
*.out
!tests/**/*.out
tests/outputs/commandlineargs.out

# built binaries
bin/rain-dis
bin/rain-run
bin/rain-step

# a mystery!
.cache
.coverage
